vscode/.config/Code - OSS/Backups/*
vscode/.config/Code - OSS/*Cache*/*
vscode/.config/Code - OSS/Coo*
vscode/.config/Code - OSS/blob_storage/*
vscode/.config/Code - OSS/logs/*
vscode/.config/Code - OSS/machineid
vscode/.config/Code - OSS/storage.json
vscode/.config/Code - OSS/User/*Storage/*


