vscode/.config/Code - OSS/Backups/*
vscode/.config/Code - OSS/*Cache*/*
vscode/.config/Code - OSS/Coo*
vscode/.config/Code - OSS/blob_storage/*
vscode/.config/Code - OSS/logs/*
vscode/.config/Code - OSS/machineid
vscode/.config/Code - OSS/storage.json
vscode/.config/Code - OSS/User/*Storage/*
vscode/.config/Code - OSS/User/Workspaces/*
vscode/.config/Code - OSS/rapid_render.json
vscode/.config/Code - OSS/Network*

# Byte-compiled / optimized / DLL files
*__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
