[submodule ".config/powerline-shell/powerline-shell"]
	path = .config/powerline-shell/powerline-shell
	url = https://github.com/b-ryan/powerline-shell
[submodule ".vim/bundle/clang_complete"]
	path = .vim/bundle/clang_complete
	url = https://github.com/xavierd/clang_complete
[submodule ".vim/bundle/Colorizer"]
	path = .vim/bundle/Colorizer
	url = https://github.com/chrisbra/Colorizer
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule ".vim/bundle/unicode.vim"]
	path = .vim/bundle/unicode.vim
	url = https://github.com/chrisbra/unicode.vim
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/bundle/vim-signify"]
	path = .vim/bundle/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm

