[Desktop Entry]
Name=PyCharm Community
Icon=/home/kapper/.local/share/JetBrains/Toolbox/apps/PyCharm-C/ch-0/.icon.svg
StartupWMClass=jetbrains-pycharm-ce
Comment=Python IDE for professional developers
Exec="/home/kapper/.local/share/JetBrains/Toolbox/apps/PyCharm-C/ch-0/201.6668.115/bin/pycharm.sh" %f
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false